In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
### Load dataset
diagnosis = pd.DataFrame.from_csv("/Users/williamliu/Downloads/Patient_Diagnosis.csv")
treatment = pd.DataFrame.from_csv("/Users/williamliu/Downloads/Patient_Treatment.csv")

In [3]:
### Look at diagnosis dataset
diagnosis.head()
diagnosis.info()
diagnosis.describe()
diagnosis["Diagnosis_Date"] = pd.to_datetime(diagnosis["Diagnosis_Date"])  # Convert to time

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38 entries, 2038 to 9489
Data columns (total 3 columns):
Diagnosis_Date    38 non-null object
Diagnosis_Code    38 non-null float64
Diagnosis         38 non-null object
dtypes: float64(1), object(2)

In [4]:
diagnosis.head()

           Diagnosis_Date  Diagnosis_Code      Diagnosis
Patient_ID
2038           2010-01-21           174.9  Breast Cancer
2120           2010-01-09           174.1  Breast Cancer
2175           2010-02-17           174.7  Breast Cancer
2407           2010-06-13           174.9  Breast Cancer
2425           2010-12-15           174.9  Breast Cancer

In [5]:
### Look at treatment dataset
treatment.head()
treatment.info()
treatment.describe()
treatment["Treatment_Date"] = pd.to_datetime(treatment["Treatment_Date"])  # Convert to time

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189 entries, 2038 to 9489
Data columns (total 2 columns):
Treatment_Date    189 non-null object
Drug_Code         189 non-null int64
dtypes: int64(1), object(1)

In [6]:
treatment.head()

           Treatment_Date  Drug_Code
Patient_ID
2038           2010-02-14        201
2038           2010-02-21        201
2038           2010-02-28        201
2038           2010-03-07        201
2038           2010-03-14        201

In [7]:
# Merge datasets
merged = pd.merge(diagnosis, treatment, 
                  left_on=diagnosis.index, 
                  right_on=treatment.index, 
                  how="outer")

In [8]:
merged.head()  # This is the main dataset we'll be working with

,key_0,Diagnosis_Date,Diagnosis_Code,Diagnosis,Treatment_Date,Drug_Code
0,2038,2010-01-21,174.9,Breast Cancer,2010-02-14,201
1,2038,2010-01-21,174.9,Breast Cancer,2010-02-21,201
2,2038,2010-01-21,174.9,Breast Cancer,2010-02-28,201
3,2038,2010-01-21,174.9,Breast Cancer,2010-03-07,201
4,2038,2010-01-21,174.9,Breast Cancer,2010-03-14,201

In [9]:
merged.info()
# Note to self: Some data is missing (e.g. no treatment data for 10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 6 columns):
key_0             200 non-null int64
Diagnosis_Date    200 non-null datetime64[ns]
Diagnosis_Code    200 non-null float64
Diagnosis         200 non-null object
Treatment_Date    190 non-null datetime64[ns]
Drug_Code         190 non-null float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(1)

__Question 1__: How many patients does the clinic have for each cancer diagnosis?

In [10]:
unique_patients = pd.Series(merged.key_0.values).unique()

In [14]:
print unique_patients  # IDs of Patients
print len(unique_patients)  # Number of unique patients

[2038 2120 2175 2407 2425 2462 2634 2735 2763 2770 3095 3449 3757 3948 4256
 4354 4374 4692 5259 5657 6281 6321 6837 6840 6877 6889 6922 7230 7242 7796
 7937 7976 8480 8615 8827 9331 9489]
37

In [15]:
# Doing split-apply-combine technique
diagnosis_group = merged.groupby(["Diagnosis"])["key_0"].apply(lambda x: len(x.unique()))

In [16]:
print diagnosis_group  # 26 Breast Cancer, 12 Colon Cancer

Diagnosis
Breast Cancer    26
Colon Cancer     12
Name: key_0, dtype: int64

__Answer 1__: There are 12 unique patients in the 'Colon Cancer' group and 26 unique patients in the 'Breast Cancer' group

__Question 2__: How long after being diagnosed does it take for a patient to start treatment?  Do any patients start treatment before being diagnosed?

In [17]:
merged["Date_Diff"] = merged["Diagnosis_Date"] - merged["Treatment_Date"]

In [18]:
merged.head()

,key_0,Diagnosis_Date,Diagnosis_Code,Diagnosis,Treatment_Date,Drug_Code,Date_Diff
0,2038,2010-01-21,174.9,Breast Cancer,2010-02-14,201,-24 days
1,2038,2010-01-21,174.9,Breast Cancer,2010-02-21,201,-31 days
2,2038,2010-01-21,174.9,Breast Cancer,2010-02-28,201,-38 days
3,2038,2010-01-21,174.9,Breast Cancer,2010-03-07,201,-45 days
4,2038,2010-01-21,174.9,Breast Cancer,2010-03-14,201,-52 days

In [19]:
merged.Date_Diff

0     -24 days
1     -31 days
2     -38 days
3     -45 days
4     -52 days
5     -59 days
6     -66 days
7     -73 days
8     -80 days
9     -87 days
10    -94 days
11   -101 days
12   -108 days
13   -115 days
14    -42 days
...
185    -16 days
186    -23 days
187         NaT
188    -34 days
189    -41 days
190    -48 days
191    -55 days
192    -62 days
193    -69 days
194    -76 days
195    -83 days
196    -90 days
197    -97 days
198   -104 days
199   -111 days
Name: Date_Diff, Length: 200, dtype: timedelta64[ns]

In [21]:
merged.Date_Diff.max()

0   47 days
dtype: timedelta64[ns]

In [22]:
merged.Date_Diff.min()

0   -149 days
dtype: timedelta64[ns]

In [24]:
merged.Date_Diff.mean()

0   -59 days, 04:17:41.052632
dtype: timedelta64[ns]

__Answer__: Treatments range from starting 47 days in advance up to 149 later (mean of 59 days later)

In [25]:
tbd = merged[merged["Date_Diff"] > 0]  # Find all cases where treatment started before diagnosis
tbd

,key_0,Diagnosis_Date,Diagnosis_Code,Diagnosis,Treatment_Date,Drug_Code,Date_Diff
93,4374,2012-02-20,174.5,Breast Cancer,2012-01-04,201,47 days
94,4374,2012-02-20,174.5,Breast Cancer,2012-01-11,201,40 days
95,4374,2012-02-20,174.5,Breast Cancer,2012-01-18,201,33 days
96,4374,2012-02-20,174.5,Breast Cancer,2012-01-25,201,26 days
97,4374,2012-02-20,174.5,Breast Cancer,2012-02-01,201,19 days
98,4374,2012-02-20,174.5,Breast Cancer,2012-02-08,201,12 days
99,4374,2012-02-20,174.5,Breast Cancer,2012-02-15,201,5 days
140,6877,2012-11-26,153.4,Colon Cancer,2012-11-05,201,21 days
141,6877,2012-11-26,153.4,Colon Cancer,2012-11-12,201,14 days
142,6877,2012-11-26,153.4,Colon Cancer,2012-11-19,201,7 days

In [26]:
unique_patients = pd.Series(tbd.key_0.values).unique()
print len(unique_patients)

2

__Answer__: There are 2 patients (ID: 4374, 6877) that started treatment before being diagnosed.

__Question 3__: Is there a difference between Drug 201 and Drug 202 in terms of length of treatment?

In [60]:
merged["Abs_Days_Diff"] = merged["Date_Diff"].abs()  # Get the absolute value

In [61]:
merged.head()

,key_0,Diagnosis_Date,Diagnosis_Code,Diagnosis,Treatment_Date,Drug_Code,Date_Diff,Abs_Days,Abs_Days_Diff
0,2038,2010-01-21,174.9,Breast Cancer,2010-02-14,201,-24 days,24 days,24 days
1,2038,2010-01-21,174.9,Breast Cancer,2010-02-21,201,-31 days,31 days,31 days
2,2038,2010-01-21,174.9,Breast Cancer,2010-02-28,201,-38 days,38 days,38 days
3,2038,2010-01-21,174.9,Breast Cancer,2010-03-07,201,-45 days,45 days,45 days
4,2038,2010-01-21,174.9,Breast Cancer,2010-03-14,201,-52 days,52 days,52 days

In [69]:
drug_group = merged.groupby(["Drug_Code"])

In [72]:
my_sum = drug_group.Abs_Days_Diff.aggregate(np.sum)

In [73]:
print my_sum

Drug_Code
201         10437 days
202          1255 days
Name: Abs_Days_Diff, dtype: timedelta64[ns]

In [65]:
drug_group = merged.groupby(["Drug_Code"])["key_0"].apply(lambda x: len(x.unique()))

In [66]:
drug_group

Drug_Code
201          14
202          13
Name: key_0, dtype: int64

__Answer__: Drug 201 is a lot longer in treatment
*  Drug 201 is: 10437 days in treatment / 14 people = 745.5 days in treatment
*  Drug 202 is: 1255 days in treatment / 13 people = 96.5 days in treatment

In [67]:
# TO DO: if additional time, plot to see